### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)

pymoli_df = pd.read_csv('../Resources/purchase_data.csv')
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [2]:
player_count = len(pymoli_df['SN'].value_counts())
player_count

total_players_df = pd.DataFrame({
    'Total Players': [player_count]
})

total_players_df

   Total Players
0            576

## Purchasing Analysis

In [3]:
#CALCULATIONS FOR BELOW:
#Number of unique items
#Average price of items
#Total Number of Purchases
#Total Revenue
num_unique_items = len(pymoli_df["Item ID"].unique())
avg_price = pymoli_df['Price'].mean()
formatted_price = '${:,.2f}'.format(avg_price) 
purchase_count = pymoli_df['Purchase ID'].count()
sum_revenue = pymoli_df['Price'].sum()
formatted_rev = '${:,.2f}'.format(sum_revenue)

#SUMMARY TABLE:
purchase_analysis_summary = pd.DataFrame({
    'Unique Items':        [num_unique_items],
    'Average Item Price':  [formatted_price],
    'Number of Purchases': [purchase_count],
    'Total Revenue':       [formatted_rev]
})

purchase_analysis_summary

   Unique Items Average Item Price  Number of Purchases Total Revenue
0           179              $3.05                  780     $2,379.77

## Gender Demographics

In [4]:
gender_count = pymoli_df.groupby('Gender')['SN'].nunique()
gender_percent = (gender_count/player_count)*100

gender_demo_df = pd.DataFrame({
    'Total Count': gender_count,
    'Percentage of Players': gender_percent
})
gender_demo_df

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

In [5]:
gender_purchase_count = pymoli_df.groupby('Gender').count()['Price']
average_purchase_price = pymoli_df.groupby('Gender').mean()['Price']

total_purchase = pymoli_df.groupby('Gender').sum()['Price'] 

#average purchase total per person by Gender
avg_total_purchase_per_person = total_purchase / gender_count


##compile into dataframe
purchase_analysis_df = pd.DataFrame({
    'Purchase Count': gender_purchase_count,
    'Average Purchase Price': average_purchase_price,
    'Total Purchase Value': total_purchase,
    'Average Total Purchase per Person': avg_total_purchase_per_person
})

purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

In [24]:
#Establish bins for ages
#find min and max
print(pymoli_df['Age'].min())
print(pymoli_df['Age'].max())

#Create bins and associated labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ['<10', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34', '35 to 39', '40+' ]

#Slice data and put into bins
pd.cut(pymoli_df['Age'], bins, labels=group_labels).head()

pymoli_df['Age Group'] = pd.cut(pymoli_df['Age'], bins, labels=group_labels)

7
45

In [23]:
#Create a groupby object based on Age Group
pymoli_group = pymoli_df.groupby('Age Group')['SN'].nunique()
percent_pymoli_group = (pymoli_group / player_count)*100

age_demographics_df = pd.DataFrame({
    'Total Count': pymoli_group,
    'Percentage of Players': percent_pymoli_group
})

age_demographics_df

           Total Count  Percentage of Players
Age Group
<10                 17               2.951389
10 to 14            22               3.819444
15 to 19           107              18.576389
20 to 24           258              44.791667
25 to 29            77              13.368056
30 to 34            52               9.027778
35 to 39            31               5.381944
40+                 12               2.083333

## Purchasing Analysis (Age)

In [57]:
#Bin the purchase_data data frame by age
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ['<10', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34', '35 to 39', '40+' ]

#Slice data and put into bins
pd.cut(pymoli_df['Age'], bins, labels=group_labels).head()

pymoli_df['Age Group'] = pd.cut(pymoli_df['Age'], bins, labels=group_labels)

#purchase Count
purchase_per_person = pymoli_df.groupby('Age Group')['Purchase ID'].count() #Correct
#Average Purchase Price
avg_purchase_per_person = pymoli_df.groupby('Age Group')['Price'].mean() #correct
#Total Purchase Value
total_purchase_value = pymoli_df.groupby('Age Group')['Price'].sum() #correct
#Avg Total Purchase per Person
average_total_purchase_value = total_purchase_value / pymoli_group #correct


purchasing_analysis_df = pd.DataFrame({
    'Purchase Count': purchase_per_person, 
    'Average Purchase Price': avg_purchase_per_person,
    'Total Purchase Value': total_purchase_value,
    'Avg Total Purchase per Person': average_total_purchase_value
})
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10 to 14,28,2.956429,82.78,3.762727
15 to 19,136,3.035956,412.89,3.858785
20 to 24,365,3.052219,1114.06,4.318062
25 to 29,101,2.900990,293.00,3.805195
30 to 34,73,2.931507,214.00,4.115385
35 to 39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

In [74]:
spender_data = pymoli_df.groupby('SN')
spender_purchase_count = spender_data['Purchase ID'].count() #correct
spender_avg_purchase_price = spender_data['Price'].mean() #correct
spender_total_purchase_value = spender_data['Price'].sum() #correct
#create data frame to hold values
top_spenders_df = pd.DataFrame({
    'Purchase Count': spender_purchase_count,
    'Average Purchase Price': spender_purchase_count,
    'Total Purchase Value': spender_total_purchase_value
})

#sort Total Purchase values as descending
top_spenders_df = top_spenders_df.sort_values(['Total Purchase Value'], ascending=False)
top_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                       5                 18.96
Idastidru52               4                       4                 15.45
Chamjask73                3                       3                 13.83
Iral74                    4                       4                 13.62
Iskadarya95               3                       3                 13.10

## Most Popular Items

In [90]:
#retrieve columns
#list available columns
pymoli_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Group'],
      dtype='object')

In [95]:
#retrieve columns; Item ID, Item Name, Item Price
retrieved_columns = pymoli_df[['Item ID', 'Item Name', 'Price']]
#group by Item ID and Item Name
items_grouped = retrieved_columns.groupby(['Item ID', 'Item Name'])

In [100]:
item_purchase_count = items_grouped['Price'].count() #correct
item_avg_price = items_grouped['Price'].mean() #correct
item_total_purchase_value = (item_purchase_count*item_avg_price) #correct

popular_items_df = pd.DataFrame({
    'Purchase Count': item_purchase_count,
    'Item Price': item_avg_price,
    'Total Purchase Value': item_total_purchase_value
})
popular_items_df = popular_items_df.sort_values(['Purchase Count'], ascending=False)
popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
##### MISC. CALCULATIONS #####


# male_female_count = pymoli_df[['Gender','SN', 'Price']].groupby('Gender')
# male_female_count.count()

# male_count = (pymoli_df['Gender'] == 'Male').sum()
# male_count

# female_count = (pymoli_df['Gender'] == 'Female').sum()
# female_count

# male_count = (pymoli_df['Gender'] == 'Male').sum()
# male_percent = male_count / player_count * 100
# male_percent = '{:,.2f}%'.format(male_percent)
# male_percent

# female_count = (pymoli_df['Gender'] == 'Female').sum()
# female_percent = female_count / player_count * 100
# female_percent = '{:,.2f}%'.format(female_percent)
# female_percent

# nd_count = (pymoli_df['Gender'] == 'Other/Non-Disclosed').sum()
# nd_percent = nd_count / player_count * 100
# nd_percent = '{:,.2f}%'.format(nd_percent)
# nd_percent