### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
## Heros of Pymoli
## Noticeable Trends

#1) Of the total players, 84% are male and 14% are female. female. This makes the amount of male players considerably larger than the amount of female players.
#2) Although females purchase less items then males, their average purchase price is higher.  Buying less while spending more might suggest they put more consideration behind purchases.
#3) By far the group of players is between the ages of 20-24, which makes up 44.79% of the total player population.

In [156]:
# Dependencies and Setup
import pandas as pd
import numpy as np


pymoli_df = pd.read_csv('../Resources/purchase_data.csv')
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [2]:
#calculate total player count.  Use len of SN to remove duplicates:
player_count = len(pymoli_df['SN'].value_counts())
player_count

#create dataframe of total player count:
total_players_df = pd.DataFrame({
    'Total Players': [player_count]
})

total_players_df

   Total Players
0            576

## Purchasing Analysis

In [115]:
#CALCULATIONS FOR BELOW:
#Number of unique items
#Average price of items
#Total Number of Purchases
#Total Revenue
num_unique_items = len(pymoli_df["Item ID"].unique())
avg_price = pymoli_df['Price'].mean()
formatted_price = '${:,.2f}'.format(avg_price) 
purchase_count = pymoli_df['Purchase ID'].count()
sum_revenue = pymoli_df['Price'].sum()
formatted_rev = '${:,.2f}'.format(sum_revenue)

#Create dataframe summary table:
purchase_analysis_summary = pd.DataFrame({
    'Unique Items':        [num_unique_items],
    'Average Item Price':  [formatted_price],
    'Number of Purchases': [purchase_count],
    'Total Revenue':       [formatted_rev]
})

purchase_analysis_summary

   Unique Items Average Item Price  Number of Purchases Total Revenue
0           179              $3.05                  780     $2,379.77

## Gender Demographics

In [120]:
#Group by gender to find total count and percentages of players
#Find the gender count for each specific screen name:
gender_count = pymoli_df.groupby('Gender')['SN'].nunique()
#Find the gender % by dividing against the entire player count:
gender_percent = (gender_count/player_count)*100

#Create a dataframe summary table
gender_demo_df = pd.DataFrame({
    'Total Count': gender_count,
    'Percentage of Players': gender_percent
})
#format summary table with appropriate styling
formatted_gender_demo_df = gender_demo_df.sort_values(["Total Count"], ascending = False).style.format({
    "Percentage of Players":"{:.2f}%"
})
gender_demo_df_formatted


## Purchasing Analysis (Gender)

In [119]:
#Group by gender and run formulas for count, average, and total purchases:
gender_purchase_count = pymoli_df.groupby('Gender').count()['Price']
average_purchase_price = pymoli_df.groupby('Gender').mean()['Price']
total_purchase = pymoli_df.groupby('Gender').sum()['Price'] 

#average purchase total per person by Gender:
avg_total_purchase_per_person = total_purchase / gender_count


#Create a dataframe summary table:
purchase_analysis_df = pd.DataFrame({
    'Purchase Count': gender_purchase_count,
    'Average Purchase Price': average_purchase_price,
    'Total Purchase Value': total_purchase,
    'Average Total Purchase per Person': avg_total_purchase_per_person
})

#format summary table with appropriate styling:
formatted_purchase_analysis_df = purchase_analysis_df.style.format({
    'Average Purchase Price': "${:,.2f}",
    'Total Purchase Value': "${:,.2f}",
    'Average Total Purchase per Person': "{:,.2f}%"
})

formatted_purchase_analysis_df

## Age Demographics

In [24]:
#Establish bins for ages:
#find min and max:
print(pymoli_df['Age'].min())
print(pymoli_df['Age'].max())

#Create bins and associated labels:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ['<10', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34', '35 to 39', '40+' ]

#Slice data and put into bins:
pd.cut(pymoli_df['Age'], bins, labels=group_labels).head()

pymoli_df['Age Group'] = pd.cut(pymoli_df['Age'], bins, labels=group_labels)

7
45

In [128]:
#Create a groupby object based on Age Group:
pymoli_group = pymoli_df.groupby('Age Group')['SN'].nunique()
percent_pymoli_group = (pymoli_group / player_count)*100

#Create a dataframe summary table:
age_demographics_df = pd.DataFrame({
    'Total Count': pymoli_group,
    'Percentage of Players': percent_pymoli_group
})

#format summary table with appropriate styling:
formatted_age_demographics_df = age_demographics_df.style.format({
    'Percentage of Players': '{:.2f}%'
})  

formatted_age_demographics_df

## Purchasing Analysis (Age)

In [123]:
#Bin the purchase_data data frame by age
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ['<10', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34', '35 to 39', '40+' ]

#Slice data and put into bins
pd.cut(pymoli_df['Age'], bins, labels=group_labels).head()

pymoli_df['Age Group'] = pd.cut(pymoli_df['Age'], bins, labels=group_labels)

#purchase Count
purchase_per_person = pymoli_df.groupby('Age Group')['Purchase ID'].count() #Correct
#Average Purchase Price
avg_purchase_per_person = pymoli_df.groupby('Age Group')['Price'].mean() #correct
#Total Purchase Value
total_purchase_value = pymoli_df.groupby('Age Group')['Price'].sum() #correct
#Avg Total Purchase per Person
average_total_purchase_value = total_purchase_value / pymoli_group #correct

#Create dataframe summary table:
purchasing_analysis_df = pd.DataFrame({
    'Purchase Count': purchase_per_person, 
    'Average Purchase Price': avg_purchase_per_person,
    'Total Purchase Value': total_purchase_value,
    'Avg Total Purchase per Person': average_total_purchase_value
})

#format summary table with appropriate styling:
formatted_purchasing_analysis_df = purchasing_analysis_df.style.format({
    'Average Purchase Price': "${:,.2f}",
    'Total Purchase Value': "${:,.2f}",
    'Avg Total Purchase per Person': "${:,.2f}"
})
formatted_purchasing_analysis_df

## Top Spenders

In [157]:
#Group by screen name:
spender_data = pymoli_df.groupby('SN')
#with screen name grouped, run formulas for count, average, and total purchases:
spender_purchase_count = spender_data['Purchase ID'].count() 
spender_avg_purchase_price = spender_data['Price'].mean()
spender_total_purchase_value = spender_data['Price'].sum() 
#create data frame summary table:
top_spenders_df = pd.DataFrame({
    'Purchase Count': spender_purchase_count,
    'Average Purchase Price': spender_avg_purchase_price,
    'Total Purchase Value': spender_total_purchase_value
})


#sort Total Purchase values as descending:
sorted_top_spenders_df = top_spenders_df.sort_values(['Total Purchase Value'], ascending=False).head()

#Format summary table with appropriate styling:
formatted_top_spenders_df = sorted_top_spenders_df.style.format({
    'Average Purchase Price': "${:,.2f}",
    'Total Purchase Value': "${:,.2f}"
})

formatted_top_spenders_df

## Most Popular Items

In [90]:
#retrieve columns
#list available columns
pymoli_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Group'],
      dtype='object')

In [95]:
#retrieve columns; Item ID, Item Name, Item Price
retrieved_columns = pymoli_df[['Item ID', 'Item Name', 'Price']]
#group by Item ID and Item Name
items_grouped = retrieved_columns.groupby(['Item ID', 'Item Name'])

In [154]:
#Group by price
item_purchase_count = items_grouped['Price'].count() 
item_avg_price = items_grouped['Price'].mean() 
item_total_purchase_value = (item_purchase_count*item_avg_price) 

#create data frame summary table:
popular_items_df = pd.DataFrame({
    'Purchase Count': item_purchase_count,
    'Item Price': item_avg_price,
    'Total Purchase Value': item_total_purchase_value
})

#sort Popular Items values as descending:
sorted_popular_items_df = popular_items_df.sort_values(['Purchase Count'], ascending=False).head(5)

#Format summary table with appropriate styling:
formatted_popular_items_df = sorted_popular_items_df.style.format({
    'Item Price': "${:,.2f}",
    'Total Purchase Value': "${:,.2f}" 
})

formatted_popular_items_df

## Most Profitable Items

In [155]:
#Use same data as Most Popular Items but sort by Total Purchase Value:
most_profitable_items = popular_items_df.sort_values(['Total Purchase Value'], ascending=False).head()
#Format summary table with appropriate styling:
formatted_most_profitable_items = most_profitable_items.style.format({
    'Item Price': "${:,.2f}",
    'Total Purchase Value': "${:,.2f}" 
})

formatted_most_profitable_items