### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)

pymoli_df = pd.read_csv('../Resources/purchase_data.csv')
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [7]:
player_count = pymoli_df['SN'].count()
player_count

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#CALCULATIONS FOR BELOW:
#Number of unique items
#Average price of items
#Total Number of Purchases
#Total Revenue
num_unique_items = len(pymoli_df["Item ID"].unique())
avg_price = pymoli_df['Price'].mean()
formatted_price = '${:,.2f}'.format(avg_price) 
purchase_count = pymoli_df['Purchase ID'].count()
sum_revenue = pymoli_df['Price'].sum()
formatted_rev = '${:,.2f}'.format(sum_revenue)

#SUMMARY TABLE:
purchase_analysis_summary = pd.DataFrame({
    'Unique Items':        [num_unique_items],
    'Average Item Price':  [formatted_price],
    'Number of Purchases': [purchase_count],
    'Total Revenue':       [formatted_rev]
})

purchase_analysis_summary

   Unique Items Average Item Price  Number of Purchases Total Revenue
0           179              $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#CALCULATIONS FOR MALE/FEMALE/NON-DISCLOSED COUNT AND AVERAGE:
male_count = pymoli_df.Gender.value_counts()['Male']
male_count_perc = '{:,.1f}%'.format(male_count / purchase_count * 100)
female_count = pymoli_df.Gender.value_counts()['Female']
female_count_perc = '{:,.1f}%'.format(female_count / purchase_count * 100)
other_count = pymoli_df.Gender.value_counts()['Other / Non-Disclosed']
other_count_perc = '{:,.1f}%'.format(other_count / purchase_count * 100)

#SUMMARY TABLE:
gender_df = pd.DataFrame([
    {'Gender': 'Male', 'Count': male_count, 'Percent': male_count_perc},
    {'Gender': 'Female', 'Count': female_count, 'Percent': female_count_perc},
    {'Gender': 'Other/Non-Disclosed', 'Count': other_count, 'Percent': other_count_perc}
])
gender_df

#HELP FOR SOLUTION FOUND HERE: https://towardsdatascience.com/pandas-groupby-explained-453692519d0

                Gender  Count Percent
0                 Male    652   83.6%
1               Female    113   14.5%
2  Other/Non-Disclosed     15    1.9%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#PURCHASE COUNT FOR GENDER:

In [13]:
#AVG. PURCHASE PRICE FOR GENDER:
gender_purchase_count = pymoli_df[['Gender','Price']].groupby('Gender')
gender_avg_purchase = gender_purchase_count.mean()
gender_avg_purchase

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [22]:
#TOTAL PURCHASE VALUE FOR GENDER:
gender_purchase_count = pymoli_df[['Gender','Price']].groupby('Gender')
gender_total_purchase = gender_purchase_count.sum()
gender_total_purchase

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [23]:
##### MISC. CALCULATIONS #####


# male_female_count = pymoli_df[['Gender','SN', 'Price']].groupby('Gender')
# male_female_count.count()

# male_count = (pymoli_df['Gender'] == 'Male').sum()
# male_count

# female_count = (pymoli_df['Gender'] == 'Female').sum()
# female_count

# male_count = (pymoli_df['Gender'] == 'Male').sum()
# male_percent = male_count / player_count * 100
# male_percent = '{:,.2f}%'.format(male_percent)
# male_percent

# female_count = (pymoli_df['Gender'] == 'Female').sum()
# female_percent = female_count / player_count * 100
# female_percent = '{:,.2f}%'.format(female_percent)
# female_percent

# nd_count = (pymoli_df['Gender'] == 'Other/Non-Disclosed').sum()
# nd_percent = nd_count / player_count * 100
# nd_percent = '{:,.2f}%'.format(nd_percent)
# nd_percent









## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame